---
import AboutHeroImage from '../assets/about/intro.png';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage={AboutHeroImage}
>
	<p>
		I am a seasoned software engineer with more than a decade of coding experience. I started this journey when I was
		16, the times when Windows XP was the latest operation system. There was yet no iPhone, YouTube, or Facebook,
		and MySpace was huuuuge! My biggest dream was to get an iPod, or at least some other MP3 player. Technology was
		just getting ready to make a big jump in the future and you could still make good money making websites just
		having some skills with HTML, CSS, and Photoshop.
	</p>
	<p>
		So I did. Having learned in my free time from university HTML, CSS, and some basic tricks with JavaScript and
		Photoshop, I with my school friend, found another guy who could do deploy it on Joomla, and started making
		websites. After selling our fist website that took a couple of weeks to develop, I got in my hands more money
		than my parents were making per month... It was empowering!
	</p>
	<p>
		The first success made us feel that we can do anything and the sky is the limit. Inspired by the popular back
		then x-sports journals like "ProX" and "X3M", we started the first in Ukraine x-spots portal "Vid Sverhu" (A
		look from above -- from Russian). We found a few volunteers who in exchange for access to different concerts and
		shows, would make pictures for us and do gonzo-style journalism about the events. And the doors started to open.
		After covering only a few events, we got contacts with dozens music artists, x-sporters, editors of journals...
		The project had a tremendous potential! The only thing that could stop its success -- are inevitably coming
		university exams. They took away all our energy and motivation from us and "Vid Sverhu" only as a bright spot
		in our history.
	</p>
	<p>
		No exams could take away our adventurous spirit, however! Being done with exams and bored with attending classes,
		we needed to find another project. And we tried multiple things from reselling opto-volokno internet connection
		to writing a plot for a video-game. Nothing came serious out of any of them until my friend, who had a smell for
		such things, somehow found an owner of an investment company who wanted to start a new news portal but did not have
		"the right people" to do it.
	</p>
	<p>
		The "right people" appeared to be my friend who hired "the best web-designer he knew" -- vashego pokornogo slygy.
		And it was the start of a short story of the "Ukrainian News Portal" that ended as abruptly as it started
	</p>
	<p>
		All went good for several months. We got good salaries and budget to hire two backend developers (unversity friends
		from engineering faculty), several journalists (the girls who we knew from our previous "Vid Sverhy project"),
		and a photographer (who did not have any experience of making pictures but for a strange coincidence appeared to
		be the girlfriend of my friend). We even got own office in the center of the city with a woman who was taking care
		of it and making coffees. The project was evolving, we showed the first POC version to the guy who hired us and
		he really liked it. What could go wrong?
	</p>
	<p>
		A few weeks before the next deadline to submit a new version of the platform, my friend mysteriously disappeared.
		Nobody could reach him. He was not at home and did not pick up his phone. And as he was the key stone in the
		structure of the project, the only person who held all the keys and contacts in his hands, the development stalled.
		Nobody knew where he was or what we were supposed to do. We also did not get any money for the past month as he
		was also the one who was paying out our salaries.
	</p>
	<p>
		For several weeks nobody heard anything from him including the investor who calling each of us, also wondering
		where did he disappear, and how comes our bookings say that we spent each month 1k dollar only on cleaning of
		the office...

	</p>
	<p>
		Several weeks later, I was rambling after university around the city center with a couple of my friends and
		accidentally bumped on him in one of the city parks. He was sincerely happy to see me and to all my surprise
		wondering where the hell did he disappear, he said that he broke up with Olya (his girlfriend-photographer) and
		did not feel like talking to anyone, or doing something, so for the last weeks he was just drinking and taking
		drugs. That moment, I understood that the  "Ukrainian News Portal" stopped its existence much longer before I
		realized it.
	</p>
	<p>
		This story somehow reduced my interest in web-design, I started to talk less to my old school-friend, and found
		new friends in ballet. I was introduced and quickly became good friends with a young ballet-meister whose life
		seemed to be so exciting and fun, full of new places and artistic people, concerts and bright parties. I started
		to hangout each day with him and attending his classes, first as a spectator at rehearsals, but then also quickly
		trying a dancing trico on me and learning my first dancing moves.
	</p>
	<p>
		For someone who all his teenage years was doing boxing, doing ballet should seem pretty a drastic change. For me
		it felt, however, super natural as I always loved arts, and all my life was staying close to the artistic side of
		the rich capital life, often attending theater performances, classical concerts, literature readings, and other
		events. And this time I could I could change the role of a spectator to artist. And it was magic. Good sees how
		much fun I had! Hours  and hours of fun at rehearsals and afterwards same long parties at the best night
		spots of the time. I was touring around night-clubs in Kyiv where before security had been very reluctant to let
		me in due to my very young age (and even younger looks), surrounder by the most beautiful girls from ballet.
		Being in the bohemian circles of the time felt like being on the top of the world...
	</p>
	<p>
		To be continued... If I am not lazy
	</p>

</Layout>
