---
import { Image } from 'astro:assets';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import meImage from '../assets/me4.png';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>

	<div style="text-align: center; margin-bottom: 2rem;">
		<Image src={meImage} alt="Me" width={300} height={300} style="border-radius: 12px;" />
	</div>
		<main>
			<h3 style="text-align: center;">My Home Is My Castle</h3>
			<div>
				<a href="/about">Intro</a>
			</div>
			<div>
				<a href="/tea">Let's drink some tea</a>
			</div>

		</main>
		<Footer />
	</body>
</html>
